/* Table Style */
#title {
    border: 1px solid #000;
}

table {
    width: 50%;
    border-collapse: collapse;
}

td {
    border-spacing: 2px;
}

th, td {
    padding: 10px;
    border: 1px solid;
}

tr:nth-child(even) {
    background-color: #00FF00;
}

tr:nth-child(odd) {
    background-color: #008000;
}
/* Table Style */
